* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: #7c6486;
  position: fixed; /* navigation bar stays at top of page */
  width: 100%;
  top: 0;
  left: 0;
}

nav > ul {
  list-style-type: none;
  text-align: center;
  padding: 20px;
}

nav > ul > li {
  display: inline;
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
  scroll-behavior: smooth;
}

a:hover {
  color: #8e80ff;
}

img {
  height: 200px;
}

header {
  height: 700px;
  background-color: #57216b;
  color: white;
  text-align: center;
}

h1 {
  font-size: 60px;
  padding: 50px 0;
  padding-top: 110px;
}

header > h2 {
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}

section > h2 {
  font-size: 35px;
  padding: 20px 0;
  padding-left: 10px;
}

h3 {
  font-size: 25px;
}

section {
  background-color: #775684;
  color: #f9eaff;
}

section > h3 {
  color: #8e80ff;
  padding: 10px;
}

section > ul {
  list-style-type: square;
  padding: 10px;
}

section > ul > li {
  margin-left: 15px;
}

section > p {
  padding: 10px;
}

section#Projects {
  background-color: #57216b;
  color: white;
}

footer {
  background-color: #94849B;
  text-align: center;
  padding: 10px 0;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 25%;
  height: 400px;
  text-align: justify;
  border: #94849B 3px solid;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.card-body {
  height: 50%;
  margin-top: 40px;
}

.card:hover {
  background-color: #cac3ff;
}

.card a {
  color: #8e80ff;
  text-decoration: underline;
}

.fullscreen-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen-image {
  max-width: 90%;
  height: auto;
}

#text {
  width: 50%;
}

#submitdiv {
  width: 50%;
}

#Contact form {
  display: flex;
  flex-direction: row;
}

#Contact input[type="text"], #Contact textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  align-self: flex-start;
}

#Contact input[type="text"] {
  height: 40px;
}

#Contact textarea {
  height: 100px;
}

#Contact input[type="submit"] {
  width: 95%;
  height: 80%;
  margin-left: 20px;
  margin-top: 30px;
  background-color: #8e80ff;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

#Contact input[type="submit"]:hover {
  background-color: #cac3ff;
}

.container {
  padding-left: 10px;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  header > h1 {
    font-size: 40px;
    margin: 20px;
  }

  #Contact form {
    display: flex;
    flex-direction: column;
  }
    
  #text {
    width: 100%;
  }

  #submitdiv {
    width: 100%;
  }

  #card-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 92%;
  }
}